@using MMM.ViewModels.BankAccountViewModel
@model IEnumerable<BankAccountListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista kont</h2>

<p>
    @Html.ActionLink("Dodaj konto", "Create")
</p>
<div class="row">
        @foreach (var backAccount in Model)
        {
            <a href="@Url.Action("Details", "BankAccount", new { id = backAccount.Id })">
                <div class="bankAccount-info col-xs-6 col-sm-4 col-md-3">
                    @Html.Partial("BankAccount", backAccount)
                </div>
            </a>
        }
</div>
