
@{
    ViewBag.Title = "ActivationFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weryfikacja konta</h2>

<p>
    Proszę, aktywuj swoje konto, aby móc krzystać z serwisu. @Html.ActionLink("Kliknij tutaj, aby się przejść do strony głównej.", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>

