@{
    ViewBag.Title = "Confirm Email";
}

<h2>Weryfikacja konta</h2>
<div>
    <p>
        Dziękujemy za aktywowanie konta. Proszę, @Html.ActionLink("kliknij tutaj, aby się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    @*<p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
    </p>*@
</div>