@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    @*<h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>*@
    <h2>Nieudane logowanie</h2>
    <h3 class="text-danger">Wystąpił problem podczas logowania z serwisem.</h3>
</hgroup>
