@{
    ViewBag.Title = "Resetowanie hasła";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        Sprawdź swoje konto email i kliknij w link, aby potwierdzić reset hasła.
    </p>
</div>
