﻿@{ 
     ViewBag.Title = "Potwierdzenie zresetowania hasła"; 
 } 
 
<hgroup class="title"> 
    <h2>@ViewBag.Title</h2> 
</hgroup> 
<div>
    <p> 
        Twoje hasło zostało zresetowane. Proszę, @Html.ActionLink("kliknij tutaj, aby się zalogwać.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) 
    </p> 
</div> 