
@{
    ViewBag.Title = "Send Email";
}

<h2>Weryfikacja konta</h2>
<p>
    Wysłaliśmy wiadomość z linkiem weryfikacyjnym na twój adres email. Proszę, kliknij w link aby aktywować. @Html.ActionLink("Kliknij tutaj, aby się przejść do strony głównej.", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>

