@using Microsoft.AspNet.Identity
@model IEnumerable<MMM.ViewModels.TransactionViewModel.TransactionListViewModel>
<script type="text/javascript">
    $(document).ready(function() {
        TransactionDeleteOpenModalListener();
    });

    function TransactionDeleteOpenModalListener() {
        $('.panel-heading').on('click',
            '.transaction-header-remove',
            function () {
                GetTransactionData($(this).attr('id'));
            });
    }

    function GetTransactionData(transactionId) {
        $.ajax({
            url: '@Url.Action("Delete", "Transaction")',
            type: 'GET',
            data: {
                id: transactionId,
                bankAccountId: $bankAccountId
            },
            success: function (dataBack) {
                LoadDataIntoModalAndOpen(dataBack);
            },
            error: function() {
                alert("Coś poszło nie tak przy pobieraniu danych na temat transakcji.");
            }
        });
    }

    function LoadDataIntoModalAndOpen(data) {
        $('#ModalDeleteTransaction .modal-dialog').html(data);
        $('#ModalDeleteTransaction').modal('show');
    }

</script>
@foreach (var transaction in Model)
{
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
}
