@model IEnumerable<MMM.ViewModels.TransactionViewModel.TransactionListViewModel>
<script type="text/javascript">
    $(document).ready(function() {
        TransactionDeleteListener();
    });

    function TransactionDeleteListener() {
        $('.panel-heading').on('click',
            '.transaction-header-remove',
            function () {
                alert($(this).attr('id'));
            });
    }

    function TransactionDeleteOpenModal() {
        
    }
</script>
@foreach (var transaction in Model)
{
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
    @*<a href="@Url.Action("Details", "Transaction", new { id = transaction.Id})">
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
    </a>*@
}
